@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { 
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 @media (prefers-color-scheme: dark) { 
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.layout-container {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

.wrapper {
  max-width: 1280px;   /* large screens */
  margin: 0 auto;
  background-color: aqua;
  min-height: 200px;
  padding: 0 80px;
}

/* Desktop / Laptop */
@media (max-width: 1280px) {
  .wrapper {
    max-width: 1140px;
    padding: 0 48px;
  }
}

/* Small laptop / tablet */
@media (max-width: 1024px) {
  .wrapper {
    max-width: 960px;
    padding: 0 32px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .wrapper {
    max-width: 720px;
    padding: 0 24px;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .wrapper {
    max-width: 100%;
    padding: 0 16px;
  }
}
